.style-0 {
    cursor: auto;
    color: rgba(0, 0, 0, 0.9);
    font-family: Merriweather, Georgia, serif;
    font-weight: 300;
    overflow-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    background-color: rgb(239, 237, 231);
    box-sizing: border-box;
    margin: 0px;
}

.style-2 {
    outline: none;
}

.style-7 { /*possible button for the menu?*/
    padding: 8px;
    border: 0px none rgb(27, 160, 152);
    color: rgb(27, 160, 152);
    box-sizing: border-box;
    appearance: button;
    text-transform: none;
    overflow: visible;
    font: inherit;
    margin: 0px;
}

.style-8 {
    margin-left: auto;
    margin-right: auto;
    max-width: 42.72rem;
    padding: 2.67rem 1.335rem;
    min-height: 100%;
    box-sizing:border-box;
}

.style-9 {
    box-sizing: border-box;
    display: block;
    /* font-size: 0.8em; 14.4px */
}

.style-15 {
    color: rgb(27, 160, 152);
    text-decoration: none solid rgb(27, 160, 152);
    background-color: rgba(0, 0, 0, 0);
    display: inline;
    font-size: 23.04px;
    font-family: Zeyada;
}

.style-17 {
    list-style-type: none;
    float: right;
    line-height: 0px;
    padding: 0px;
    list-style: outside none disc;
}

.style-18 {
    display: inline-block;
    text-align: center;
    margin: auto;
    list-style-type: none;
}

.style-21{
    color: rgb(27, 160, 152);
    text-decoration: none solid rgb(27, 160, 152);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 0px 11.52px 0px 0px; 
}

.style-36 {
    box-sizing: border-box;
    display: block;
}

.style-37 {
    margin-top: 64.08px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-rendering: optimizelegibility;
    font-size: 41.3532px;
    line-height: 48.06px;
    letter-spacing: -2px;
    box-sizing: border-box;
}

.picture {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    float: right;
    margin: 20px;
    max-width: 100%;
    padding: 0px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #5e5ef5;
}

.style-39 {
    font-weight: 300;
    font-size: 21.6px;
    font-style: italic;
    margin: 0px 0px 32.04px;
    padding: 0px;
    box-sizing: border-box;
}

.style-40 {
    margin: 0px 0px 32.04px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.5;
}


.style-43 {
    margin: 0px 0px 32.04px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.5;
}

.style-59 {
    background-color: rgb(5, 22, 34);
    color: rgb(239, 237, 231);
    text-align: center;
    font-size: 14.4px;
    box-sizing: border-box;
    display: block;
    min-height: 32.6vh;
}

.style-60 {
    margin-left: auto;
    margin-right: auto;
    max-width: 42.72rem;
    padding: 2.67rem 1.335rem;
    box-sizing: border-box;
}

.style-61 {
    text-align: center;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.style-68 {
    padding: 24px;
    width: 100px;
    height: 200px;
    color: rgb(27, 160, 152);
    text-decoration: none solid rgb(27, 160, 152);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

.style-69 {
    box-sizing: border-box;
    overflow: hidden;
}

.style-70 {
    box-sizing: border-box;
}

.style-80 {
    margin: 0px 0px 32.04px;
    padding: 0px;
    box-sizing: border-box;
}

.style-81 {
    color: rgb(27, 160, 152);
    text-decoration: none solid rgb(27, 160, 152);
    margin-bottom: 0px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}